<div class="box">
    <div class="shadows">
        <span>h</span>
        <span>e</span>
        <span>r</span>
        <span>o</span>
        <span>e</span>
        <span>s</span>

        <span class="spacer-2"></span>

        <span>l</span>
        <span>i</span>
        <span>s</span>
        <span>t</span>
    </div>
</div>
<mat-divider></mat-divider>

<div class="grid bm-8 pt-2">

    <div *ngFor="let hero of heroes" 
        class="col-12 sm:col-4 md:col-3 xl:col-2">
        <heroes-hero-card [hero]="hero"></heroes-hero-card>
    </div>
</div>