/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

.spacer-2 {
    padding: 20px;
}

#heroe-card {
    background-color: rgb(205, 135, 50);
}

#heroe-title {
    background-color: rgb(235, 184, 123);
}

.heroe-info {
    background-color: rgb(205, 135, 50);
}

.mat-drawer-container {
    background-color: #6f5f89;
}

.box {
    height: 15vh;
    display: flex;
    align-items: center;
}    

.shadows {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.08em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 80px;
    transition: all 0.25s ease-out;
    display: flex;
}

.shadows:hover {
    text-shadow: -16px 6px 15px #b7b9bb;
}